################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API-Server/AfricanArtoramaAPI/.vs/AfricanArtoramaAPI/v15/Server/sqlite3/db.lock
