<div style="margin:5px">
    <p-progressBar value="12"></p-progressBar>
</div>

<div>
    <div class="file-field">
        <div class="z-depth-1-half mb-4">
        </div>
        <div>
            <div class="d-flex justify-content-center flex-column">
                <h3 class="text-center">Title</h3>
                <input class="offset-1 col-10" type="text" [(ngModel)]="artTitle" />
                <div class="d-flex offset-4 p-2" style="height: 40px;">
                    <input class="mt-1 mr-1" type="checkbox" [(ngModel)]="isLimitedAddition"/>
                    <label class="mr-1" style="font-size: medium">Limited Addition</label>
                    <div *ngIf="isLimitedAddition" class="d-flex justify-content-center">
                        <input class="input-sm mr-1" type="number" [(ngModel)]="limitedAdditionNumber"/>
                        <p class="mr-1"> of </p>
                        <input class="input-sm" type="number" [(ngModel)]="limitedAdditionTotal"/>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <h3 class="text-center">Description</h3>
                <p class="text-center">Please enter a description of the art:</p>
                <textarea class="offset-1 col-10" type="text" rows="5" [(ngModel)]="description"></textarea>
            </div>
        </div>
        <div>
            <form [formGroup]="heightWidthGroup">
                <h3 class="text-center">Dimensions</h3>
                <div  class="d-flex justify-content-center">
                    <div>
                        <span class="ui-float-label">
                            <input formControlName="height" id="float-input1" type="number" size="30" pInputText> 
                            <label for="float-input1">Height</label>
                        </span>                                 
                    </div>
                    <div>
                        <span class="ui-float-label">
                            <input formControlName="width" id="float-input2" type="number" size="30" pInputText> 
                            <label for="float-input2">Width</label>
                        </span>                                 
                    </div>
                    <div>
                        <span class="ui-float-label">
                            <input formControlName="depth" id="float-input3" type="number" size="30" pInputText> 
                            <label for="float-input3">Depth</label>
                        </span>                                 
                    </div>
                    <p>centimeters</p>
                </div>
                <div class="d-flex justify-content-center">
                    <p [style.line-height.px]="computedHeight + 48" style="margin-right: 4px;">{{heightWidthGroup.get('height').value}}</p>
                    <div>
                        <p class="text-center" style="margin-bottom:0;min-height: 24px;">{{heightWidthGroup.get('width').value}}</p>
                        <div class="frame" [style.height.px]="computedHeight" [style.width.px]="computedWidth"></div>
                    </div>
                </div>
            </form>
        </div>
        <div class="mb-2">
            <button class="btn btn-primary" style="margin-left:10px;" (click)="previous()"><img class="fa fa-arrow-left"/></button>
            <button class="btn btn-primary" style="float:right;margin-right:10px;" (click)="next()"><img class="fa fa-arrow-right"/></button>
        </div>
    </div>
</div>