<div style="margin:5px">
        <p-progressBar value="100"></p-progressBar>
    </div>
    
    <div>
        <div class="file-field">
            <div>
                <h3 class="text-center">You have registered your art!</h3>
                <button class="btn btn-primary center-horizontally" (click)="save()">Go somewhere useful</button>
            </div>
            <div class="mb-2">
                <button class="btn btn-primary" style="margin-left:10px;" (click)="previous()"><img class="fa fa-arrow-left"/></button>
            </div>
        </div>
    </div>