<h2>Category</h2>

<form class="md-form">
    <div class="file-field">
        <div class="z-depth-1-half mb-4">
        <!--<img [src]="image || 'https://mdbootstrap.com/img/Photos/Others/placeholder.jpg'" class="img-fluid" alt="example placeholder">-->
        </div>
        <div class="d-flex justify-content-center">
            <div class="btn btn-mdb-color btn-rounded float-left">
                
            </div>
            <div>
                <button class="button fa fa-arrow-left" (click)="previous()"></button>
                <button class="button fa fa-arrow-right" (click)="next()"></button>
            </div>
        </div>
    </div>
</form>