
<div class="col-6 col-md-3 sortable-item p-2 interior" style="left: 281.5px; top: 206.79px; position: absolute;">
    <div class="hoverbox rounded overflow-hidden" style="filter: blur(0px); opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
        <img class="w-100 fit-cover" alt="" src="assets/img/gallery/05.jpg">
        <div class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
        <div class="px-4">
            <h5 class="text-white">Next gen web interface design</h5>
            <a class="btn btn-outline-light btn-xs mt-3" href="page-casestudy.html">learn more</a>
            {{art.Name}} 
            ${{art.Price}}
        </div>
        </div>
    </div>
</div>




