<!-- <div class="container">
    <div class="row">
        <button class="col-2 clickable bg-primary" style='margin:5px;' [innerHtml]="isExpanded ? '-' : '+'" class="btn btn-primary"
                (click)='isExpanded = !isExpanded'></button>
        <h4 class="offset-1">{{instance.title}}</h4>
      </div>
      <div [hidden]='!isExpanded'>
        <ng-template appSearch></ng-template>
      </div>
      <div [hidden]='!instance.hasValue'>
        <button (click)="instance.clear()">Clear</button>
      </div>
</div>
<hr/> -->