<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/663399d1-941c-4952-9578-a49e311579f8/resourcegroups/Default-Web-WestUS/providers/Microsoft.Web/sites/AfricanArtoramaAPIFramework20190725030223</ResourceId>
    <ResourceGroup>Default-Web-WestUS</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://africanartoramaapiframework20190725030223.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>africanartoramaapiframework20190725030223.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AfricanArtoramaAPIFramework20190725030223</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$AfricanArtoramaAPIFramework20190725030223</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ArtConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=africanartoramaapiframework20190725030223dbserver.database.windows.net;Initial Catalog=AfricanArtoramaAPIFramework1234_db;User ID=artorama;Password=Hello1234" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AfricanArtorama.Database.ArtoramaDBContext, AfricanArtorama.DatabaseFramework" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ArtConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=africanartoramaapiframework20190725030223dbserver.database.windows.net;Initial Catalog=AfricanArtoramaAPIFramework1234_db;User ID=artorama;Password=Hello1234</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>